@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@500;600&display=swap');

.card-container {
    position: relative;
    background-image: linear-gradient(90deg, pink, rgb(250, 235, 207));
    padding: 15px;
    margin: 5px;
    margin-top: 10px;
    width: 89vw;
    overflow-y: hidden;
    border-radius: 10px;
    box-shadow: rgba(163, 76, 76, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-flower {
    position: absolute;
    right: -15px;
    top: -10px;
}

.card-name {
    text-transform: capitalize;
    font-size: 30px;
    color: rgb(125, 12, 35);
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10px;
}
.card-date {
    text-transform: capitalize;
    margin-bottom: 2px;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}
.card-time {
    text-transform: uppercase;
    margin-bottom: 2px;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}
.card-venue {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}
.card-map {
    background-color: rgb(188, 47, 75);
    color: white;
    padding: 12px;
    border-radius: 40px;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}
.card-doll {
    position: absolute;
    right: 0px;
    bottom: -4px;
    height: 80px;
}