.function-images {
    width: 90vw;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 220px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.content-separation {
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.first-content {
    margin-top: 5px;
}