.home-background {
    /* background-image: url('/8.png'); */
    width: 100vw;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    position: absolute;
    top: 45%;
}

.home-button {
    width: 200px;
    padding: 15px;
    margin: 10px;
    text-transform: uppercase;
    border-color: crimson;
    color: crimson;
    background-color: white;
    
}
.home-button:hover {
    border-color: crimson;
    color: white;
    background-color: crimson;

}